{% extends 'tourist_layout.html' %}
{% load state_extras %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <div style="float: right;width: 300px;">
                <form method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜索景点名称相关路线" name="q"
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                线路列表
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>最晚预定时间</th>
                    <th>剩余名额</th>
                    <th>价格</th>
                    <th>详情</th>
                    <th>公司</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th>{{ obj.id }}</th>
                        <td>{{ obj.begin_time|date:"Y-m-d" }}</td>
                        <td>{{ obj.end_time|date:"Y-m-d" }}</td>
                        <td>{{ obj.order_ddl|date:"Y-m-d" }}</td>
                        <td>{{ obj.remaining_place }}/{{ obj.total_place }}</td>
                        <td>{{ obj.route_price }}</td>
                        <td><a class="btn btn-primary btn-xs"
                               href="/tourist/{{ uid }}/route/{{ obj.id }}/content/">详情</a></td>
                        <td>{{ obj.company.company_name }}</td>
                        {% if obj.order_ddl < today %}
                            <td style="color: red">已过期</td>
                        {% elif obj.remaining_place <= 0 %}
                            <td style="color: red">名额已满</td>
                        {% else %}
                            <td style="color: green">可预订</td>
                        {% endif %}
                        <td style="color: red">
                            {% if obj.order_ddl < today or obj.remaining_place <= 0 %}
                                不可预订
                            {% elif state|f:obj.id == 0 %}
                                <a class="btn btn-primary btn-xs"
                                   href="/tourist/{{ uid }}/route/{{ obj.id }}/book/">预订</a>
                            {% else %}
                                <a class="btn btn-primary btn-xs" href="/tourist/{{ uid }}/route/{{ obj.id }}/cancel/">取消预订</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true"><<</span></a></li>
            {{ page_string }}
            <li><a href="#" aria-label="Next"><span aria-hidden="true">>></span></a></li>
        </ul>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script href="{% static 'plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>
    <script>
        $(function () {
            $('#dt').datepicker({
                format: 'yyyy-mm-dd',
                startDate: '8',
                language: 'zh-CN',
                autoclose: true
            });
        })
    </script>
{% endblock %}